.app-wrapper {
    display: grid;
    grid-template-areas:
"header header"
"nav content";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;

    width: 1600px;
}

.header {
    grid-area: header;
    background-color: aliceblue;
}

.header img {
    height: 50px;
    width: 50px;
}

.navbar {
    color: white;
    grid-area: nav;
    background-color: #434a4e;
}

.content {
    grid-area: content;
    background-color: #68b768;
}
