.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogItem {
    padding: 10px;
}

.dialogItem a {
    text-decoration: none;
    color: white;
}

.messages {
    padding: 10px;
}