.improveFrom.error input,
.improveFrom.error textarea {
    border: 3px solid red;
}

.improveFrom.error span {
    color: #890b0b;
}

.formSummaryError {
    border: 1px solid red;
    padding: 5px;
    color: red;
}